.App {
  text-align: center;
}

.main-container {
  text-align: center;
  margin-top: 50px;
}

.pokemon-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
}

.container {
  width: 18%;
  margin: 0;
  border: black 1px solid;
  border-radius: 30px;
  margin: 20px;
}

.container img {
  height: 130px;
}



