* {
    margin-left: 5px;
}
nav ul li{
    display: inline-block;
    padding: 10px 50px;
}
.imagem-1, .imagem-2 {
    width: 400px;
}


.information-1 , .information-2 , .information-3 , .information-4 {
    display: inline-block;
    width:75%;
}
.div-information {
    width: 75%;
}
.category{
    width: 20%;
    float: right;  
    display: inline-block;
}